@font-face {
  font-family: SylexiadSansMedium;
  src: url(../font/sylexiad/SylexiadSansMedium.otf); }
body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  color: #f2f1ef;
  background-color: #1c1c2a;
  font-size: 3.3rem; }

body .container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: 3rem; }

h1 {
  font-size: 10rem; }

h2 {
  font-size: 9rem; }

h3 {
  font-size: 7.5rem; }

h4 {
  font-size: 6rem; }

h5 {
  font-size: 4.5rem; }

h6 {
  font-size: 3.75rem; }

li {
  margin-bottom: 5rem; }

#title {
  color: #f2f1ef; }

#whatIs {
  color: #1c2833;
  background-color: #00bfff; }

#empowers {
  color: #d4d0ab;
  background-color: #26192E; }

#keyNeeds {
  color: #fefefe;
  background-color: #0d6e91; }

#tools {
  color: #f2f1ef;
  background-color: #C8584F; }

#aria {
  color: #332533;
  background-color: #DDBE5D; }

#dyslexia {
  color: #ecf0f1;
  background-color: #54577c; }

#forms {
  color: #004055;
  background-color: #fafafa;
  filter: grayscale(100%);
  transition: all 2.5s ease; }
  #forms.active {
    filter: grayscale(0);
    transition: all 2.5s ease; }

.d-none {
  display: none !important; }

.center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  .page .content {
    width: 85%;
    height: 90%; }

.splash {
  color: #030303; }

.title {
  font-weight: bold; }

.circle-bar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  margin-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.circle {
  background-color: white;
  width: 15px;
  height: 15px;
  border: 2px solid #3c3c46;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 4px; }
  .circle.active {
    width: 20px;
    height: 20px;
    background-color: #0f202f;
    border-color: #008cff; }
  .circle:not(:first-of-type) {
    margin-left: 25px; }

.dyslexic {
  font-family: "SylexiadSansMedium"; }

.helvetica {
  font-family: Helvetica, monospace; }

.courier {
  font-family: Courier, monospace; }

.arial {
  font-family: Arial, monospace; }

.verdana {
  font-family: Verdana, monospace; }

.form-demo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start; }

#greyscaleButton {
  align-self: center; }

.yes {
  color: #13c4a3; }

.no {
  color: #ff3250; }

input.error {
  border-color: #ff3250; }

input.main {
  border-color: #2f2f2f; }

svg.error {
  color: #ff3250; }

/*# sourceMappingURL=app.css.map */
