// FONTS
@font-face
  font-family: SylexiadSansMedium
  src: url(../font/sylexiad/SylexiadSansMedium.otf)

// VARIABLES
$font-stack-dyslexic: 'SylexiadSansMedium'
$heading-size-multiplier: 2.5
$font-size-multiplier: 2.2
$color-font: #f2f1ef
$color-bg: rgb(28, 28, 42)
$color-primary: #33C3F0
$color-success: #13c4a3
$color-warning: #fec601
$color-danger: #ff3250
$button-shadow: rgba(0, 0, 0, 0.1) 0 3px 4px

// MIXINS
@mixin center()
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center

@mixin full-vw()
  $width: 100vw
  width: $width
  max-width: $width

@mixin full-vh()
  $height: 100vh
  height: $height
  max-height: $height

@mixin fullscreen()
  @include full-vw
  @include full-vh

@mixin size($size)
  height: $size
  width: $size

@mixin page-color($color, $background-color)
  color: $color
  background-color: $background-color

// CSS
body
  @include fullscreen
  @include page-color($color-font, $color-bg)
  font-size: 1.5rem * $font-size-multiplier

body .container
  @include fullscreen
  @include center
//background-color: darkslategrey

h1, h2, h3, h4, h5, h6
  font-weight: 500
  margin-bottom: 3rem

h1
  font-size: 4.0rem * $heading-size-multiplier

h2
  font-size: 3.6rem * $heading-size-multiplier

h3
  font-size: 3.0rem * $heading-size-multiplier

h4
  font-size: 2.4rem * $heading-size-multiplier

h5
  font-size: 1.8rem * $heading-size-multiplier

h6
  font-size: 1.5rem * $heading-size-multiplier

li
  margin-bottom: 5rem

#title
  @include page-color(#f2f1ef, null)

#whatIs
  @include page-color(#1c2833, #00bfff)

#empowers
  @include page-color(#d4d0ab, #26192E)

#keyNeeds
  @include page-color(#fefefe, #0d6e91)

#tools
  @include page-color(#f2f1ef, #C8584F)

#aria
  @include page-color(#332533, #DDBE5D)

#dyslexia
  @include page-color(#ecf0f1, #54577c)


#forms
  $time: 2.5s
  @include page-color(#004055, #fafafa)
  filter: grayscale(100%)
  transition: all $time ease

  &.active
    filter: grayscale(0)
    transition: all $time ease

.d-none
  display: none !important

.center
  @include center

.page
  @include center
  width: 100%
  height: 100%

  .content
    width: 85%
    height: 90%

.splash
  color: #030303
//background-color: tomato

.title
  font-weight: bold

.circle-bar
  position: fixed
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  z-index: 100
  margin-bottom: 40px
  @include center

.circle
  $size: 15px
  $size-hover: $size + 2
  $size-lg: $size + 5
  background-color: white
  width: $size
  height: $size
  border: 2px solid rgb(60, 60, 70)
  border-radius: 50%
  cursor: pointer
  box-shadow: $button-shadow

  &.active
    width: $size-lg
    height: $size-lg
    background-color: #0f202f
    border-color: #008cff

  &:not(:first-of-type)
    margin-left: 25px

.dyslexic
  font-family: $font-stack-dyslexic

.helvetica
  font-family: Helvetica, monospace

.courier
  font-family: Courier, monospace

.arial
  font-family: Arial, monospace

.verdana
  font-family: Verdana, monospace

.form-demo
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  align-items: flex-start

#greyscaleButton
  align-self: center

.yes
  color: $color-success

.no
  color: $color-danger

input.error
  border-color: $color-danger

input.main
  border-color: #2f2f2f

svg.error
  color: $color-danger

