{% macro link(href, name) %}
    <a href="{{ href }}">{{ name }}</a>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessibility in Application Design</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/normalize.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/skeleton.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}"/>
</head>
<body>
<div id="container" class="container">
    {% block content %}{% endblock %}
</div>

<div id="circleBar" class="circle-bar"></div>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>feather.replace()</script>
<script src="{{ url_for('static', filename='js/lib/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>