{% extends 'base.html' %}
{% block content %}
    <div id="title" class="page splash">
        <div class="content center">
            <div>
                <h1 class="title">Accessibility in Application Design</h1>
                <h5>Accessible Design == Good Design</h5>
            </div>
        </div>
    </div>
    <div id="whatIs" class="page">
        <div class="content">
            <div>
                <h3 class="title">What is Accessibility?</h3>
                <ul>
                    <li>Providing an inclusive experience for all users.</li>
                    <li>Equal access to information and functionality.</li>
                    <li>Enhanced usability for everyone.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="empowers" class="page">
        <div class="content">
            <div>
                <h3 class="title">Accessibility empowers application design.</h3>
                <ul>
                    <li>Improved readability.</li>
                    <li>Enhanced site navigation.</li>
                    <li>Improved component context.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="keyNeeds" class="page">
        <div class="content">
            <div>
                <h4 class="title">Key Needs to Address for Accessible Websites</h4>
                <ul>
                    <li>Auditory - Closed captioning on videos/streams.</li>
                    <li>Seizures - Avoid strobing/flashing effects.</li>
                    <li>Motor/mobility - click count, keyboard navigation.</li>
                    <li>Cognitive and Intellectual - Dyslexia-suitable fonts, memory, attention.</li>
                    <li>Visual - 'alt' attribute for img tags, color schemes, text contrast, supplemental icons,
                        proper form design.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tools" class="page">
        <div class="content">
            <div>
                <h3 class="title">Screen Readers</h3>
                <ul>
                    <li>Reads screen elements, aiding visually-impaired users.</li>
                    <li>Assists navigation, e.g. by reading navbar elements.</li>
                    <li>Consider hidden elements and document flow.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="aria" class="page">
        <div class="content">
            <div>
                <h3 class="title">Accessible Rich Internet Applications (ARIA)</h3>
                <ul>
                    <li>HTML attributes.</li>
                    <li>Defines content to users with disabilities.</li>
                    <li>Clearly defines element functionality.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="dyslexia" class="page">
        <div class="content dyslexic">
            <div>
                <h3 class="title">Accessibility: Dyslexia</h3>
                <ul>
                    <li><span class="helvetica">Helvetica</span>, <span class="courier">Courier</span>, <span
                            class="arial">Arial</span>, <span class="verdana">Verdana</span> found to be effective.
                    </li>
                    <li>Or, consider a font such as Sylexiad (displayed on page).</li>
                    <li>Use larger font sizes.</li>
                    <li><strong>Bold text for highlighting.</strong></li>
                    <li>Bullet key text areas.</li>
                    <li>Increase line spacing.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="colorChoice" class="page">
        <div class="content">
            <div>
                <h3 class="title">Choose High-contrast Colors</h3>
                <ul>
                    <li>Aim for contrast ratio > 4.5 for small sizes.</li>
                    <li>Aim for contrast ratio > 3 for larger fonts.</li>
                    {#                    <li><a href="http://colorsafe.co/">colorsafe.co</a></li>#}
                    <li>{{ link("http://colorsafe.co/", 'colorsafe.co') }}</li>
                    {#                    <li><a href="https://webaim.org/resources/contrastchecker/">webaim.org</a></li>#}
                    <li>{{ link("https://webaim.org/resources/contrastchecker/", 'webaim.org') }}</li>
                    <li>Presentation color schemes generated with Color Safe.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="forms" class="page">
        <div class="content">
            <div>
                <h3 class="title">Forms</h3>
                {#                <ul>#}
                {#                    <li>Use labels to clearly identify form inputs.</li>#}
                {#                    <li>Avoid relying solely on color.</li>#}
                {#                    <li>Use icons to supplement colors.</li>#}
                {#                </ul>#}
                <div id="formBad" class="form-demo">
                    <form id="formBad" action="#">
                        <h4 class="no">No</h4>
                        <div>
                            <input id="username1" class="main" type="text" placeholder="Enter username...">
                        </div>
                        <div>
                            <input id="password1" class="error" type="password">
                        </div>
                        <div>
                            <input class="button-primary u-full-width" type="submit" value="Log In">
                        </div>
                    </form>
                    <button id="greyscaleButton" class="button">Toggle Greyscale</button>
                    <form id="formGood" action="#">
                        <h4 class="yes">Yes</h4>
                        <label for="username2">Username <i data-feather="alert-triangle" class="error"></i></label>
                        <input id="username2" class="error" type="text">
                        <label for="password2">Password</label>
                        <input id="password2" class="main" type="password">
                        <div>
                            <input class="button-primary u-full-width" type="submit" value="Log In">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="questions" class="page">
        <div class="content center">
            <h2>Questions</h2>
        </div>
    </div>
    <div id="sources" class="page">
        <div class="content">
            <div>
                <h3 class="title">Sources</h3>
                <ul>
                    <li>{{ link('https://medium.com/salesforce-ux/7-things-every-designer-needs-to-know-about-accessibility-64f105f0881b', 'Medium: 7 Things Every Designer Needs to Know about Accessibility') }}</li>
                    <li>{{ link("https://en.wikipedia.org/wiki/Web_accessibility", "Wikipedia: Web Accessibility") }}</li>
                    <li>{{ link('https://www.w3.org/WAI/fundamentals/accessibility-intro/', 'W3: Introduction to Web Accessibility') }}</li>
                    <li>{{ link('https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA', 'MDN (Mozilla): ARIA') }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}